@model ASUTask.ViewModels.OrdersFilter

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form method="get">
    <div class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-md-8">
                <input asp-for="@Model.StartDate" class="form-control" />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-md-8">
                <input asp-for="@Model.EndDate" class="form-control" />
            </div>
        </div>
        <div class="form-inline">
            <label class="control-label">Поставщик: </label>
            <select name="provider" class="form-control" asp-items="Model.Providers"></select>
        </div>
        <div class="form-inline">
            <label class="control-label">Номер заказа: </label>
            <select name="orderNumber" class="form-control" asp-items="Model.OrderNumbers"></select>
        </div>
        <div class="form-group-sm">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Фильтр" class="btn btn-default" /> <span> </span>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr onclick="location.href = '@(Url.Action("Details", "Orders", new { item.Id }))'">
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
